
<!--/* Checkbox Template also renders Radio, Toggle, and Slide formats */-->

<template data-sly-template.checkbox="${ @ predicate}">

<div class="${predicate.isExpanded ? 'active' : ''} title right">
	<i class="dropdown icon"></i> ${predicate.title}
</div>

<div class="${predicate.isExpanded ? 'active' : ''} content field"
	 data-azure-search-id="${predicate.id}__fields"
	 data-azure-search-update-method="${predicate.componentUpdateMethod}">

	<div class="grouped fields"
		 data-sly-list.option="${predicate.items}">
		<div class="field">
			<div class="ui ${predicate.subType} checkbox">
				<input for="${predicate.id}"
					   form="${predicate.formId}"
					   type="${predicate.subType == 'checkbox' ? 'checkbox' : 'radio'}"
					   name="${predicate.group}.${predicate.name}.${predicate.subType == 'checkbox' ? optionList.index : '0'}_${predicate.valuesKey}"
					   value="${option.value}"
					   checked="${option.selected}"
					   disabled="${option.disabled}"
					   data-azure-search-update-on="${predicate.autoSearch ? 'change' : ''}"/>
				<label>${option.text}</label>
			</div>
		</div>
	</div>
</div>
</template>


<!--/* Dropdown Template - renders a dropdown */-->
<template data-sly-template.dropdown="${ @ predicate}">
	<div title right">
		<i class="dropdown icon"></i> ${predicate.title}
	</div>

	<div class="content field">
		<select class="ui fluid dropdown"
				name="${predicate.group}.${predicate.name}.${predicate.valuesKey}"
				value="${predicate.intialValue}"
				form="${predicate.formId}"
				for="${predicate.id}"
				data-azure-search-search-on="${predicate.autoSearch ? 'change' : ''}"
				data-azure-search-id="${predicate.id}__fields"
				data-azure-search-update-method="${predicate.componentUpdateMethod}">
		<option value="">${predicate.title}</option>
			<sly data-sly-list.optionItem="${predicate.items}">
				<option value="${optionItem.value}"
						disabled="${optionItem.disabled}"
						selected="${optionItem.selected ? 'selected' : ''}">
						${optionItem.text}
				</option>
			</sly>
		</select>
	</div>
</template>